deploy:
  distributions: "sdist bdist_wheel"
  user: "__token__"
  password:
    secure: "ZluogJPFRomJHd7dA2uUwGl2kwivzAfFVi46y8PgERWN7z01DgvJyF69R/jKoebcllojXc4k1+dEwVqGAxF//RNyn+GgdAL6xrmE4d1zPcGCKTfDW7bgBxoGGVqrQTFoUXRkgw7oTjkVifqgdI+augQAZjyV3UJaXxJa/XfCLjVzgBS2t/mSPrJw3MVYtnSYSZZrHuCIxf0SzHQaeBos5+J9kA30U9TG42PAVVBbcxUuCzXVWSyEiGM1axA0TnOZI48pvAF8OqCmrj5unF1Fq4wD60jNV8L/7v07ZyluEt7stLElz9rMLB8CoUlGTC+yaT+yzGR+OMWJOdLR3bWKP2bmc8JLOumD6JyiIIKmbFW/3mzXJ8WF84Bwlqn+w06aUG9mr8tCmCY2C7dWLUguUBjmA458J0PmHY6FKuCu+qbXVWN146Tnn1sf5s+i2fE6DFRr0kOtSpU66KCVR/AjsTuSvkYs5MrESOVKnjVAQsKcOxcmLy3OlglycQNVvdUQDJ48+PAWyBX4n0/h5Vzfor1CMFhyPsrnQVB62za2WyrsJXuRw/A7QgDhpiKMsy9eSaCA1I0wViPPbLaVv1Ktk+/4bosDaPy4+Qjdxw8WRkdsHxhXWXdaNuPHiQAfVi4rmK2TqP7gDjD1IDC3hOpg5ToRsAdLGtW29co5kMeo+fA="
  provider: pypi
  on:
    python: 3.8
    repo: nialov/drillcore-transformations
    tags: true
install: pip install -U tox-travis
language: python
python:
- 3.8
- 3.7
- 3.6
script: tox
version: "~> 1.0"
