[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bump2version = "*"
watchdog = "*"
flake8 = "*"
tox = "*"
coverage = "*"
twine = "*"
click = "*"
Sphinx = "*"
travis = "*"

[packages]
pip = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
sympy = "*"
xlrd = "*"

[requires]
python_version = "3.8"
