[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bump2version = "*"
watchdog = "*"
flake8 = "*"
tox = "*"
coverage = "*"
twine = "*"
click = "*"
travis = "*"
guzzle-sphinx-theme = "*"
pytest = "*"
hypothesis = "*"
yamllint = "*"
pytest-cov = "*"
sphinx = "*"
pytest = "*"
readme-renderer = "*"
pygments = "*"

[packages]
pip = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
sympy = "*"
xlrd = "*"
openpyxl = "*"
virtualenv = "*"
hypothesis = "*"
pyyaml = "*"
bleach = "*"
coverage = "*"
click = "*"

[requires]
python_version = "3.8"
