alabaster==0.7.12
appdirs==1.4.3
atomicwrites==1.3.0
attrs==19.3.0
Babel==2.8.0
bleach==3.1.3
bump2version==1.0.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
colorama==0.4.3
coverage==5.0.4
cycler==0.10.0
distlib==0.3.0
docutils==0.16
-e git+https://github.com/nialov/drillcore-transformations@eb264ba8b4561d5af9a2835edf9d8c115b0ad995#egg=drillcore_transformations
entrypoints==0.3
et-xmlfile==1.0.1
filelock==3.0.12
flake8==3.7.9
guzzle-sphinx-theme==0.7.11
hypothesis==5.7.0
idna==2.9
imagesize==1.2.0
jdcal==1.4.1
Jinja2==2.11.1
keyring==21.1.0
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
more-itertools==8.2.0
mpmath==1.1.0
numpy==1.18.2
openpyxl==3.0.3
packaging==20.3
pandas==1.0.3
pathspec==0.7.0
pathtools==0.1.2
pkginfo==1.5.0.1
pluggy==0.13.1
py==1.8.1
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.5.2
pyparsing==2.4.6
pytest==5.3.5
pytest-cov==2.8.1
python-dateutil==2.8.1
pytz==2019.3
pywin32-ctypes==0.2.0
PyYAML==5.3.1
readme-renderer==24.0
requests==2.23.0
requests-toolbelt==0.9.1
six==1.14.0
snowballstemmer==2.0.0
sortedcontainers==2.1.0
Sphinx==2.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sympy==1.5.1
toml==0.10.0
tox==3.14.5
tqdm==4.43.0
twine==3.1.1
urllib3==1.25.8
virtualenv==20.0.13
watchdog==0.10.2
wcwidth==0.1.8
webencodings==0.5.1
xlrd==1.2.0
yamllint==1.20.0
